body {
  font-family: Arial, sans-serif;
  background-color: #fcfbeb;
  
}

form {
  border: 3px solid #fcfbeb;
  max-width: 400px;
  margin: 50px auto;
  background-color: #fcfbeb;
  padding: 20px;
  border-radius: 10px;
}

.container {
  padding: 16px;
}

.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
}

.logo {
  width: 200px;
}

input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  border-radius: 5px;
}

button {
  background-color: #000000;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  border-radius: 5px;
}

button:hover {
  opacity: 0.8;
}
.backbutton {
  position: fixed;
  top: 20px;
  left: 20px;
  display: inline-block;
  width: 40px; 
  height: 40px;
  background-image: url(https://cdn-icons-png.flaticon.com/512/93/93634.png); 
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.3s ease;
  }
  .backbutton:hover {
  opacity: 0.8;
  }
  .backbutton:visited {
      text-decoration: none;
  }

.psw {
  float: center;
}
.psw:visited{
  text-decoration: none;
}
@media screen and (max-width: 600px) {
  form {
      max-width: 300px;
  }
}