/* 
filename: style.css
author: Minh Viet
created: 1/25/2024
last modified: 1/25/2024
description: index.html
 */

html {
  font-family: Inter, sans-serif;
}

a {
  text-decoration: none;      /*Removes the underline in link*/
}

/* Navigation bar */

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav {
  margin-top: 2vw;
  margin-bottom: 2vw;
  display: flex;
}

/* Main */
body {background-color: #fcfbeb;}
#main-nav {
  margin-left: 2%;
}

#main-nav img {
  width: 20%;
  height: 5%;
  float: left;
}


#main-nav li {
  float: left;
  text-decoration: none;
  margin-left: 3%;
}

#main-nav li a {            /*Designing the navigation bar*/
  display: block;
  font-size: 1vw;
  color: rgb(0, 0, 0);
  text-align: center;
  padding: 0.7vw 0.7vw;
  text-decoration: none;
  font-weight: bold;
}

/* Change the link color to #111 (black) on hover */
#main-nav li a:hover {
  color: #ffffff !important;
  background: #3f3e3e;
  border-color: #ffffff !important;
  transition: all 0.4s ease 0s;
}

/* Designing the navigation bar on the right */
#sub-nav li a {
  float: right;
  display: block;
  color: #2d2f30;
  font-size: 0.85vw;
  text-align: center;
  padding: 0.7vw 0.7vw;
  text-decoration: none;
  font-weight: lighter;
}

#sub-nav {
  float: right;
  margin-right: 0.5vw;
}

/* Banner */
#banner {
  margin-top: 1vw;
  position: relative;
}

.button {
  background-color: transparent;
  border: .5vh solid #494949 !important;
  display: inline-block;
  width: 60%;
  height: 75%;
  margin: 2vw;
  font-size: 2vw;
  font-family: monospace;
}

#APPLY {
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(70, 68, 68);
  font-size: 1em;

}

.button:hover {
  color: #ffffff !important;
  background: #494949;
  border-color: transparent !important;
  transition: all 0.4s ease 0s;
  cursor: pointer;

}
.button:hover a {
  color: #ffffff;
}

.button:hover .svg{
  filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(147deg) brightness(101%) contrast(102%);
}
.svg {
  width: 5vw;
}


#slogan {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /* centering text */
  color: rgb(0, 0, 0); /*visibility*/
  font-size: 2rem; /* Adjusting font size  */
}

/* sections */

#main-header {
  float: left;
  font-size: 1.5vw;
  margin: 2vw;
}

#categories {
  display: flex;
  flex-direction: column;
}

#categories div a {
  color: #2d2f30;
  font-size: 1vw;
  margin-right: 5%;
  margin-top: 3%;
  float: right;
}

#categories div a:hover {
  color: #9da3a6;
}

.box {
  height: 10vw;
  margin-left: 5%;
}
@media only screen and (max-width: 600px) {
  #grid_view button {
    margin: 0;
  }
  .box{
    margin-top: 5%;
  }
  .svg{
    display: none;
  }
}


/* About Us */

.container {
  margin: 4em;
  margin-bottom: 0;
}
.ABOUT-TITLE {
  font-size: small;
  margin-bottom: 1em;
  margin-top: 0px;
}

.About-title {
  width: 50%;
}
@media only screen and (max-width: 743px){   /*   Responsive design */
  .container-about{
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
  }
  .About-title {
    width: 100%;
  }
}
.container-about {    
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
 .About-text {
  float: left;
  width: 60%;
}
.About-des {
  margin-bottom: 1.2em;
}

.text-stat {
  position: relative;
  font-size: small;
}

.number-stat {
  font-size: xx-large;
  position: relative;
}

.About-Statistics {
  float: right;
}

.About-Statistics h3 {
  margin: .3em;
}

/* Footer */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
body{
	line-height: 1.5;
	font-family: 'Poppins', sans-serif;
}
*{
	margin:0; 
	padding:0;
	box-sizing: border-box;
}
.footer-container{
	max-width: 1170px;
	margin:auto;
}
.footer-row{
	display: flex;
	flex-wrap: wrap;
}
ul{
	list-style: none;
}
.footer{
	background-color: #292a2f;
    padding: 5em 0;
}
.footer-co{
   width: 25%;
   padding: 0 1em;
}
.footer-co h4{
	font-size: 1.2em;
	color: #ffffff;
	text-transform: capitalize;
	margin: 2em 0;
	font-weight: 500;
	position: relative;
}
.footer-co h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -.35em;
	background-color: #e91e63;
	height: 2px;
	box-sizing: border-box;
	/* width: 50px; */
}
.footer-co #website::before{
	content: '';
width: 3.5em;
}
.footer-co #help::before{
	content: '';
width: 2em;
}
.footer-co #member::before{
	content: '';
width: 5.8em;
}
.footer-co #follow::before{
	content: '';
width: 4em;
}




.footer-co ul li:not(:last-child){
	margin-bottom: 10px;
}
.footer-co ul li a{
	font-size: 16px;
	text-transform: capitalize;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
	color: #bbbbbb;
	display: block;
	transition: all 0.3s ease;
}
.footer-co ul li a:hover{
	color: #ffffff;
	padding-left: 8px;
}
.footer-co .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(255,255,255,0.2);
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s ease;
}
.footer-co .social-links a:hover{
	color: #24262b;
	background-color: #ffffff;
}

/*responsive*/
@media(max-width: 767px){
  .footer-co{
    width: 50%;
    margin-bottom: 30px;
}
}
@media(max-width: 574px){
  .footer-co{
    width: 100%;
}
}

/* POTENTIAL JOBS */
/* Target the input element specifically */
#search-bar {
  /* Basic styling */
  margin-top: 2vw;
  width: 20vw; /* Adjust width as needed */
  padding: 0.5vw 1.2vw; /* Add padding for visual appeal */
  border: 0.1vw solid #ccc; /* Define a border */
  border-radius: 0.1vw; /* Round the corners */
  font-size: 1.5vw; /* Set a comfortable font size */
  box-sizing: border-box; /* Ensure consistent sizing */
  background-color: transparent;
  /* Refine appearance on focus */
  outline: none; /* Remove default outline */
  border-color: #3f3e3e; /* Highlight border on focus */

  /* Placeholder text styling */
  color: #999; /* Set placeholder text color */
}    

.headers{
  margin: 5vw;
}
.headers h1{
  font-size: 2vw;
}
.headers em{
  font-size: 0.8vw;
}